@font-face {
  font-family: "BerlingskeSerif";
  src: url("../fonts/BerlingskeSerif/Medium-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "BerlingskeSerif";
  src: url("../fonts/BerlingskeSerif/Bold-italic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "BerlingskeSerif";
  src: url("../fonts/BerlingskeSerif/ExtraBold-italic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "BerlingskeSerif`";
  src: url("../fonts/BerlingskeSerif`/Black-italic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans/Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans/Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans/Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-arrow {
  width: 24px;
  height: 15px; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%; }

@media (min-width: 768px) {
  .container {
    max-width: 700px;
    padding-right: 20px;
    padding-left: 20px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 1020px; } }

@media (min-width: 1181px) {
  .container {
    max-width: 1180px; } }

* {
  outline: none !important;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

body {
  font-family: "GothamPro", "Arial", "Helvetica", "Tahoma", sans-serif;
  font-weight: 400;
  min-width: 320px;
  font-size: 12px;
  letter-spacing: 0.03em;
  background: url(../images/bg-3.png) 50% 30% no-repeat, url(../images/bg-1.png) 50% 50% no-repeat, url(../images/bg-2.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  body.popup-opened, body.menu-opened {
    overflow: hidden; }
    @media (max-width: 767px) {
      body.popup-opened, body.menu-opened {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-weight: 400;
  font-size: 13px; }
  input::-ms-clear {
    display: none !important; }
  input::-ms-reveal {
    display: none !important; }

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px; }

main {
  display: block; }

@media (min-width: 1181px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

.header {
  margin-top: 56px; }
  @media (max-width: 767px) {
    .header {
      margin-top: 30px; } }
  .header__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1023px) {
      .header__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .header__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header__col-1 {
      width: 55%;
      margin-right: 50px; }
      @media (min-width: 1024px) and (max-width: 1180px) {
        .header__col-1 {
          width: 50%; } }
      @media (max-width: 1023px) {
        .header__col-1 {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;
          margin-right: 0;
          margin-bottom: 50px; } }
      @media (max-width: 767px) {
        .header__col-1 {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center; } }
    .header__col-2 {
      width: 50%; }
      @media (min-width: 1024px) and (max-width: 1180px) {
        .header__col-2 {
          width: 47%; } }
      @media (max-width: 1023px) {
        .header__col-2 {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 100%;
          margin-bottom: 40px; } }
      @media (max-width: 767px) {
        .header__col-2 {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-bottom: 20px; } }
  .header__logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    height: 55px;
    width: 187px; }
    @media (min-width: 1024px) and (max-width: 1180px) {
      .header__logo {
        width: 167px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .header__logo {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto; } }
    @media (max-width: 767px) {
      .header__logo {
        margin-bottom: 30px; } }
  .header__info {
    margin-bottom: 7px;
    color: #585858;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.9px;
    font-family: "MuseoSans", "Arial", "Helvetica", "Tahoma", sans-serif;
    font-weight: 300; }
    .header__info-wrap {
      margin-left: 27px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .header__info-wrap {
          max-width: 50%; } }
      @media (max-width: 767px) {
        .header__info-wrap {
          margin-left: 0; } }
    .header__info-inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .header__info-inner {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    .header__info-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 15px; }
      .header__info-item span {
        color: #282828;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.3px;
        font-family: "MuseoSans", "Arial", "Helvetica", "Tahoma", sans-serif;
        font-weight: 500; }
      .header__info-item:last-child {
        margin-right: 0; }
    .header__info-time img {
      -webkit-transform: translateX(-6px);
          -ms-transform: translateX(-6px);
              transform: translateX(-6px); }
    .header__info-time span {
      margin-left: 3px; }
    .header__info-warranty span {
      margin-left: 7px; }
  .header__price {
    position: relative;
    border-bottom: 1px dotted rgba(213, 19, 42, 0.5);
    color: #d5132a;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1.21px;
    text-transform: uppercase;
    font-family: "MuseoSans", "Arial", "Helvetica", "Tahoma", sans-serif;
    font-weight: 500;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    z-index: 2; }
    .header__price:hover {
      color: #a60f21;
      border-color: rgba(166, 15, 33, 0.5); }
    .header__price-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      padding-left: 83px; }
      @media (max-width: 767px) {
        .header__price-wrap {
          max-width: 300px;
          margin-bottom: 50px; } }
      .header__price-wrap img {
        position: absolute;
        left: -82px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 1; }
        @media (min-width: 1024px) and (max-width: 1180px) {
          .header__price-wrap img {
            left: -70px;
            width: 80%; } }
  .header__working-hours-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 50px; }
    @media (min-width: 1024px) and (max-width: 1180px) {
      .header__working-hours-wrap {
        margin-left: 30px; } }
    @media (max-width: 767px) {
      .header__working-hours-wrap {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 0; } }
  .header__working-hours-online {
    position: relative;
    padding-left: 27px;
    margin-bottom: 10px;
    color: #00af47;
    font-size: 11px;
    letter-spacing: 0.68px;
    font-family: "MuseoSans", "Arial", "Helvetica", "Tahoma", sans-serif;
    font-weight: 500; }
    .header__working-hours-online:before {
      content: "";
      position: absolute;
      left: 4px;
      top: calc(50% - 1px);
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: #00af47;
      height: 10px;
      width: 10px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-animation: flicker;
              animation: flicker;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
  .header__working-hours-tel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__working-hours-tel:hover span {
      color: #666666; }
    .header__working-hours-tel span {
      margin-left: 10px;
      color: #262626;
      font-size: 18px;
      letter-spacing: 0.45px;
      font-family: "GothamPro", "Arial", "Helvetica", "Tahoma", sans-serif;
      font-weight: 700;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      @media (min-width: 1024px) and (max-width: 1180px) {
        .header__working-hours-tel span {
          font-size: 13px; } }

@-webkit-keyframes flicker {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes flicker {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.main {
  margin-top: 60px; }
  @media (max-width: 1023px) {
    .main {
      margin-top: 30px; } }
  .main__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1023px) {
      .main__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .main__col-1 {
    width: 55%;
    margin-right: 50px; }
    @media (min-width: 1024px) and (max-width: 1180px) {
      .main__col-1 {
        width: 50%; } }
    @media (max-width: 1023px) {
      .main__col-1 {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px; } }
    @media (max-width: 767px) {
      .main__col-1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center; } }
  .main__col-2 {
    width: 50%; }
    @media (min-width: 1024px) and (max-width: 1180px) {
      .main__col-2 {
        width: 47%; } }
    @media (max-width: 1023px) {
      .main__col-2 {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin-bottom: 50px; } }
    @media (max-width: 767px) {
      .main__col-2 {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .main__info-free {
    position: relative;
    padding: 26px;
    margin-bottom: 30px;
    max-width: 205px;
    background-image: url(../images/bg-form-1.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    color: #ffffff;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 0.9px;
    font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
    font-weight: 700; }
    .main__info-free:after {
      content: url(../images/money-img.png);
      position: absolute;
      right: -94px;
      top: -14px; }
      @media (max-width: 767px) {
        .main__info-free:after {
          right: auto; } }
    @media (max-width: 1023px) {
      .main__info-free {
        margin-left: auto;
        margin-right: auto; } }
  .main__info-heading {
    margin-bottom: 30px;
    color: #282828;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.4px;
    font-family: "GothamPro", "Arial", "Helvetica", "Tahoma", sans-serif;
    font-weight: 400; }
    @media (max-width: 767px) {
      .main__info-heading {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        line-height: 28px; } }
    .main__info-heading span {
      font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
      font-weight: 900;
      letter-spacing: 0.4px;
      border-bottom: 2px dashed #d5132a; }
  .main__info-sub-heading {
    position: relative;
    padding-left: 65px;
    margin-bottom: 45px;
    color: #282828;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.24px;
    font-family: "GothamPro", "Arial", "Helvetica", "Tahoma", sans-serif;
    font-weight: 400; }
    @media (max-width: 767px) {
      .main__info-sub-heading {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 45px;
        font-size: 13px;
        line-height: 13px; } }
    .main__info-sub-heading span {
      position: relative;
      font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
      font-weight: 800;
      letter-spacing: 1.2px; }
      .main__info-sub-heading span:after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: -15px;
        width: 110%;
        height: 11px;
        background-color: rgba(255, 179, 69, 0.4);
        z-index: -1; }
        @media (max-width: 767px) {
          .main__info-sub-heading span:after {
            bottom: -5px;
            right: -5px;
            width: 100%; } }
    .main__info-sub-heading:before {
      content: "";
      position: absolute;
      left: 0;
      top: 13px;
      background-color: rgba(0, 0, 0, 0.2);
      height: 1px;
      width: 42px; }
      @media (max-width: 767px) {
        .main__info-sub-heading:before {
          top: 7px; } }
  .main__info-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 70px; }
    @media (max-width: 767px) {
      .main__info-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 60px; } }
  .main__info-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-right: 40px; }
    @media (max-width: 767px) {
      .main__info-item {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; } }
    .main__info-item:last-child {
      margin-right: 0; }
      @media (max-width: 767px) {
        .main__info-item:last-child {
          margin-right: auto;
          margin-bottom: 0; } }
    .main__info-item__img {
      position: relative;
      margin-bottom: 10px; }
      .main__info-item__img-1:before, .main__info-item__img-2:before, .main__info-item__img-3:before {
        content: url(../images/check_mark.png);
        position: absolute; }
      .main__info-item__img-1:before {
        left: 35px;
        top: 9px; }
        @media (max-width: 767px) {
          .main__info-item__img-1:before {
            left: 53%; } }
      .main__info-item__img-2:before {
        left: 40px;
        top: 29px; }
        @media (max-width: 767px) {
          .main__info-item__img-2:before {
            left: 53%; } }
      .main__info-item__img-3:before {
        left: 25px;
        top: 7px; }
        @media (max-width: 767px) {
          .main__info-item__img-3:before {
            left: 47%; } }
    .main__info-item__heading {
      margin-bottom: 10px;
      color: #282828;
      font-size: 14px;
      letter-spacing: 0.45px;
      line-height: 22.87px;
      font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
      font-weight: 800; }
    .main__info-item__text {
      letter-spacing: 0.35px;
      line-height: 14px;
      font-family: "MuseoSans", "Arial", "Helvetica", "Tahoma", sans-serif;
      font-weight: 100; }
  @media (max-width: 1023px) {
    .main__btn-wrap {
      text-align: center; } }
  .main__btn {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 20px 80px;
    -webkit-box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 5px 0 #b02021, 0 10px 27px rgba(224, 87, 36, 0.6);
            box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 5px 0 #b02021, 0 10px 27px rgba(224, 87, 36, 0.6);
    -webkit-border-radius: 7px;
            border-radius: 7px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d5132a), to(#e9601c)), -webkit-gradient(linear, left bottom, left top, from(#ee858c), color-stop(98%, #fabcbc), to(#fabcbc));
    background-image: -webkit-linear-gradient(bottom, #d5132a 0%, #e9601c 100%), -webkit-linear-gradient(bottom, #ee858c 0%, #fabcbc 98%, #fabcbc 100%);
    background-image: -o-linear-gradient(bottom, #d5132a 0%, #e9601c 100%), -o-linear-gradient(bottom, #ee858c 0%, #fabcbc 98%, #fabcbc 100%);
    background-image: linear-gradient(to top, #d5132a 0%, #e9601c 100%), linear-gradient(to top, #ee858c 0%, #fabcbc 98%, #fabcbc 100%);
    text-shadow: 1px 1px 57px #000000;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: "GothamPro", "Arial", "Helvetica", "Tahoma", sans-serif;
    font-weight: 500; }
    @media (max-width: 767px) {
      .main__btn {
        padding: 20px 60px; } }
    .main__btn-info {
      display: block;
      padding: 6px 14px;
      background-image: url(../images/bg-form-4.png);
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      color: #d5132a;
      font-size: 15px;
      line-height: 16px;
      letter-spacing: 0.6px;
      text-transform: none;
      font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
      font-weight: 700; }
    .main__btn:hover {
      color: #ffffff;
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px);
      -webkit-box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 3px 0 #b02021, 5px 10px 27px rgba(224, 87, 36, 0.6);
              box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 3px 0 #b02021, 5px 10px 27px rgba(224, 87, 36, 0.6); }
      .main__btn:hover .main__btn-inner:before {
        -webkit-transform: translate(3px, 5px);
            -ms-transform: translate(3px, 5px);
                transform: translate(3px, 5px); }
        @media (max-width: 1023px) {
          .main__btn:hover .main__btn-inner:before {
            -webkit-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                    transform: translate(0, 0); } }
      .main__btn:hover .main__btn-inner:after {
        -webkit-transform: translate(-3px, 3px);
            -ms-transform: translate(-3px, 3px);
                transform: translate(-3px, 3px); }
        @media (max-width: 1023px) {
          .main__btn:hover .main__btn-inner:after {
            -webkit-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                    transform: translate(0, 0); } }
      @media (max-width: 1023px) {
        .main__btn:hover {
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0);
          -webkit-box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 5px 0 #b02021, 0 10px 27px rgba(224, 87, 36, 0.6);
                  box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 5px 0 #b02021, 0 10px 27px rgba(224, 87, 36, 0.6); } }
    .main__btn:active {
      -webkit-transform: translateY(5px);
          -ms-transform: translateY(5px);
              transform: translateY(5px);
      -webkit-box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 0 0 #b02021, 0 10px 27px rgba(224, 87, 36, 0.6);
              box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 0 0 #b02021, 0 10px 27px rgba(224, 87, 36, 0.6); }
      @media (max-width: 1023px) {
        .main__btn:active {
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0);
          -webkit-box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 5px 0 #b02021, 0 10px 27px rgba(224, 87, 36, 0.6);
                  box-shadow: inset 0 0 24px rgba(252, 160, 80, 0.15), 0 5px 0 #b02021, 0 10px 27px rgba(224, 87, 36, 0.6); } }
  .main__btn-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .main__btn-inner:before, .main__btn-inner:after {
      position: absolute;
      pointer-events: none;
      z-index: 2;
      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0, 0, 0.58, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0, 0, 0.58, 1);
      -o-transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
      transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
      transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1), -webkit-transform 0.4s cubic-bezier(0, 0, 0.58, 1); }
    .main__btn-inner:before {
      content: url(../images/main-btn-img-1.png);
      top: -19px;
      left: -18px; }
    .main__btn-inner:after {
      content: url(../images/main-btn-img-2.png);
      top: -28px;
      left: 350px; }
      @media (max-width: 767px) {
        .main__btn-inner:after {
          content: none; } }
  .main__examples-wrap {
    position: relative;
    padding-left: 70px; }
    @media (max-width: 1023px) {
      .main__examples-wrap {
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px; } }
    @media (max-width: 767px) {
      .main__examples-wrap {
        max-width: 430px;
        padding-left: 30px; } }
    .main__examples-wrap:before {
      content: url(../images/examples-arrow.png);
      position: absolute;
      left: 15px;
      top: 16px; }
      @media (max-width: 767px) {
        .main__examples-wrap:before {
          left: 0; } }
  .main__examples-text {
    margin-bottom: 26px;
    color: #282828;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.18px;
    font-family: "GothamPro", "Arial", "Helvetica", "Tahoma", sans-serif;
    font-weight: 400; }
    .main__examples-text span {
      font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
      font-weight: 800;
      letter-spacing: 0.45px; }
  .main__examples-tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px; }
    .main__examples-tab__item {
      position: relative;
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 16px;
      width: 183px;
      color: #747474;
      font-size: 18px;
      line-height: 13px;
      letter-spacing: 0.9px;
      font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
      font-weight: 700;
      -webkit-transition: 0s;
      -o-transition: 0s;
      transition: 0s;
      background-image: url(../images/bg-form-3.png);
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%; }
      @media (max-width: 767px) {
        .main__examples-tab__item {
          padding: 26px 15px;
          margin-right: 6px; } }
      .main__examples-tab__item:last-child {
        margin-right: 0; }
      .main__examples-tab__item:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        height: 90%;
        width: 87%;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        z-index: -1;
        background-color: transparent; }
      .main__examples-tab__item.active {
        color: #282828;
        background-image: url(../images/bg-form-5.png); }
        .main__examples-tab__item.active:before {
          -webkit-box-shadow: 0 0 27px rgba(14, 14, 14, 0.24);
                  box-shadow: 0 0 27px rgba(14, 14, 14, 0.24); }

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .wrap__outer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100vh; }
  .wrap__inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }

.slider__wrap {
  position: relative; }
  @media (max-width: 1023px) {
    .slider__wrap {
      text-align: center; } }

.slider__counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -25px;
  left: 58px;
  width: 104px;
  height: 107px;
  background-image: url(../images/counter-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }
  @media (max-width: 1023px) {
    .slider__counter {
      left: 20%; } }
  @media (max-width: 374px) {
    .slider__counter {
      left: 10%; } }
  @media (min-width: 374px) and (max-width: 424px) {
    .slider__counter {
      left: 10%; } }

.slider__counter-nums {
  color: #ffffff;
  font-size: 16px;
  line-height: 14px; }

.slider__current-num-counter {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
  font-weight: 800; }

.slider__max-num-counter {
  letter-spacing: 1.6px;
  font-family: "BerlingskeSerif", "Arial", "Helvetica", "Tahoma", sans-serif;
  font-weight: 500; }

.slider__prev-btn {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.slider__prev-btn, .slider__next-btn {
  padding: 8px; }
  .slider__prev-btn:disabled, .slider__next-btn:disabled {
    opacity: .5;
    cursor: default; }
  .slider__prev-btn img, .slider__next-btn img {
    display: block; }

ul,
ol,
nav {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  a:hover {
    color: inherit;
    text-decoration: none; }

img {
  max-width: 100%; }

.h1 {
  margin: 0;
  font-weight: 700;
  font-size: 79px;
  line-height: 1; }
  @media (max-width: 767px) {
    .h1 {
      font-size: 27px;
      line-height: 36px; } }

.h2 {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px; }
  @media (max-width: 767px) {
    .h2 {
      font-size: 22px;
      line-height: 30px; } }

.h3 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px; }
  @media (max-width: 767px) {
    .h3 {
      font-size: 18px;
      line-height: 24px; } }

.h4 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px; }
  @media (max-width: 767px) {
    .h4 {
      font-size: 15px;
      line-height: 20px; } }

p {
  line-height: 22px;
  margin-bottom: 18px; }
  p:last-child {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    p {
      font-size: 13px;
      line-height: 19px; } }

b,
strong {
  font-weight: 700; }
