//Container Width

$desktopWidth: 1180px;
$laptopWidth: 1020px;
$tabletWidth: 700px;

$laptopMDWidth: 880px;

//Media query

$laptopMedia: 1180px;
$tabletMedia: 1023px;
$mobileMedia: 767px;
$mobileMMedia: 424px;
$mobileSMedia: 374px;

//Container gutter

$gutter: 20px;
$gutter-mobile: 10px;
