{{> layout/head }}
<div class="wrap">
  <div class="wrap__outer">
    <div class="container">
      <header class="header">
        <div class="header__row">
          <div class="header__col header__col-1">
            <div class="header__logo">
              <img src="../static/images/logo.png" alt="logo">
            </div>
            <div class="header__info-wrap">
              <p class="header__info">
                Производство и монтаж всех видов жалюзи, рулонных
                штор в Новосибирске (Солнцезащитные системы)
              </p>
              <div class="header__info-inner">
                <div class="header__info-item header__info-time">
                  <img src="../static/images/header__icon-1.png" alt="clock-icon">
                  <span>за 24 часа</span>
                </div>
                <div class="header__info-item header__info-warranty">
                  <img src="../static/images/header__icon-2.png" alt="warranty-icon">
                  <span>с гарантией от 15 лет</span>
                </div>
              </div>
            </div>
          </div>
          <div class="header__col header__col-2">
            <div class="header__price-wrap">
              <img src="../static/images/header__price-img.png" alt="price-img">
              <a class="header__price" href="#">
                Запросить прайс-каталог
              </a>
            </div>
            <div class="header__working-hours-wrap">
              <p class="header__working-hours-online">
                Сейчас работаем
              </p>
              <a class="header__working-hours-tel" href="tel:89231530999">
                <img src="../static/images/header__icon-3.png" alt="phone-icon">
                <span>8-923-153-09-99</span>
              </a>
            </div>
          </div>
        </div>
      </header>
      <div class="wrap__inner">