.header {
  margin-top: 56px;

  @include mobile {
    margin-top: 30px;
  }

  &__row {
    display: flex;

    @include tablet-and-phone {
      flex-direction: column;
    }
  }

  &__col {
    display: flex;

    &-1 {
      width: 55%;
      margin-right: 50px;

      @include laptop {
        width: 50%;
      }

      @include tablet-and-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
    &-2 {
      width: 50%;

      @include laptop {
        width: 47%;
      }

      @include tablet-and-phone {
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;
      }

      @include mobile {
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
      }
    }
  }

  &__logo {
    flex: 1 0 auto;
    height: 55px;
    width: 187px;

    @include laptop {
      width: 167px;
    }

    @include tablet {
      flex: 0 0 auto;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }
  
  &__info {
    margin-bottom: 7px;
    color: #585858;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.9px;
    @include MuseoSans;
    @include light;

    &-wrap {
      margin-left: 27px;

      @include tablet {
        max-width: 50%;
      }

      @include mobile {
        margin-left: 0;
      }
    }

    &-inner {
      display: flex;

      @include mobile {
        justify-content: center;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      margin-right: 15px;

      span {
        color: #282828;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.3px;
        @include MuseoSans;
        @include medium;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-time {
      img {
        transform: translateX(-6px);
      }
      span {
        margin-left: 3px;
      }
    }

    &-warranty {
      span {
        margin-left: 7px;
      }
    }
  }

  &__price {
    position: relative;
    border-bottom: 1px dotted rgba(213,19,42, .5);
    color: #d5132a;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1.21px;
    text-transform: uppercase;
    @include MuseoSans;
    @include medium;
    transition: .2s;
    z-index: 2;

    &:hover {
      color: darken(#d5132a, 10%);
      border-color: darken(rgba(213,19,42, .5), 10%);
    }

    &-wrap {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 83px;

      @include mobile {
        max-width: 300px;
        margin-bottom: 50px;
      }

      img {
        position: absolute;
        left: -82px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        @include laptop {
          left: -70px;
          width: 80%;
        }
      }
    }
  }

  &__working-hours {
    &-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 50px;

      @include laptop {
        margin-left: 30px;
      }

      @include mobile {
        align-items: center;
        margin-left: 0;
      }
    }

    &-online {
      position: relative;
      padding-left: 27px;
      margin-bottom: 10px;
      color: #00af47;
      font-size: 11px;
      letter-spacing: 0.68px;
      @include MuseoSans;
      @include medium;

      &:before {
        content: "";
        position: absolute;
        left: 4px;
        top: calc(50% - 1px);
        transform: translateY(-50%);
        background-color: #00af47;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        animation: flicker;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }

    &-tel {
      display: flex;
      align-items: center;

      &:hover {
        span {
          color: lighten(#262626, 25%);
        }
      }

      span {
        margin-left: 10px;
        color: #262626;
        font-size: 18px;
        letter-spacing: 0.45px;
        @include GothamPro;
        @include bold;
        transition: .2s;

        @include laptop {
          font-size: 13px;
        }
      }
    }
  }
}


@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}